<div class="w3-black">
  <!-- Page Content -->
  <div class="w3-padding-large" id="main">
    <!-- Header/Home -->
    <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
      <app-animation-title></app-animation-title>
      <!-- <h1 class="w3-jumbo"><span class="w3-hide-small">Bugs</span> Master</h1> -->
      <div class="extend">
        <h3 class="letter">T</h3>
        <h3 class="letter">P</h3>
        <h3 class="letter">A</h3>
      </div>

      <img
        src="../../assets/images/badbunny.jpg"
        alt="boy"
        class="w3-image"
        width="992"
        height="1108"
      />
    </header>

    <!-- About Section -->
    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
      <h2 class="w3-text-light-green">Bugs Master App</h2>
      <hr style="width:200px" class="w3-opacity" />
      <p class="text">
        This is what you look like when trying to debug an error after long
        minutes, hours, even days of struggle and pain :((
        <br />..HALLELUJAH!!!!, you found the solution!!.<br />Tomorrow, oh god,
        the same bug , sadly you forget how to debug it, you wonder if you
        should kill yourself...minute of silence... but you continue and repeat
        the same torture to search for the solution again.<br />
        This app is your savior, it allows you to register your bugs, how you
        did solve them, the links that helped you in this process. You can save
        this bugs by project, member of this project. You can share your bugs
        with the other team members. No bug will never defeat you, never again.
      </p>
      <br />
      <h2 class="w3-text-light-green">Improve your coding effeciency</h2>
      <hr style="width:200px" class="w3-opacity" />
      <p class="w3-wide">Debugging</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:95%"></div>
      </div>
      <p class="w3-wide">Gaining time</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:85%"></div>
      </div>
      <p class="w3-wide">Improve your code</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:80%"></div>
      </div>
      <br />

      <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
        <div class="w3-quarter w3-section">
          <span class="w3-xlarge">2+</span><br />
          Partners
        </div>
        <div class="w3-quarter w3-section">
          <span class="w3-xlarge">2+</span><br />
          Projects Done
        </div>
        <div class="w3-quarter w3-section">
          <span class="w3-xlarge">2+</span><br />
          Happy Clients
        </div>
        <div class="w3-quarter w3-section">
          <span class="w3-xlarge">150+</span><br />
          Meetings
        </div>
      </div>

      <!-- <button class="w3-button w3-light-grey w3-padding-large w3-section">
        <i class="fa fa-download"></i> Download Resume
      </button> -->

      <!-- Grid for pricing tables -->
      <br />
      <h2 class="w3-text-light-green">My price</h2>
      <hr style="width:200px" class="w3-opacity" />
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
          <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
            <li class="w3-dark-grey w3-xlarge w3-padding-32">Basic</li>
        
            <li class="w3-padding-16">Mail Support</li>
            <li class="w3-padding-16">
              <h2>100 TND</h2>
              <span class="w3-opacity">per month</span>
            </li>
            <li class="w3-light-grey w3-padding-24">
              <button
                class="w3-button w3-white w3-padding-large w3-hover-black"
              >
                Sign Up
              </button>
            </li>
          </ul>
        </div>

        <div class="w3-half">
          <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
            <li class="w3-dark-grey w3-xlarge w3-padding-32">Pro</li>
         
            <li class="w3-padding-16">Endless Support</li>
            <li class="w3-padding-16">
              <h2>150 TND</h2>
              <span class="w3-opacity">per month</span>
            </li>
            <li class="w3-light-grey w3-padding-24">
              <button
                class="w3-button w3-white w3-padding-large w3-hover-black"
              >
                Sign Up
              </button>
            </li>
          </ul>
        </div>
        <!-- End Grid/Pricing tables -->
      </div>

      <!-- Contact Section -->
      <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
        <h2 class="w3-text-light-green">Contact Me</h2>
        <hr style="width:200px" class="w3-opacity" />

        <div class="w3-section">
          <p>
            <i
              class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"
            ></i>
            Grombalia, United States of Tunisia
          </p>
          <p>
            <i
              class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"
            ></i>
            Phone: +216 20 53 69 78
          </p>

          <p>
            <i
              class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"
            >
            </i>
            Email:bessamhajsalem@gmail.com
          </p>
        </div>
        <br />
        <p>Let's get in touch. Send me a message:</p>

        <app-message-form></app-message-form>
        <!-- End Contact Section -->
      </div>

      <!-- Footer -->
      <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <p class="w3-medium">
          Powered by
          <a
            href="https://www.w3schools.com/w3css/default.asp"
            target="_blank"
            class="w3-hover-text-green"
            >Bessam Haj Salem</a
          >
        </p>
        <!-- End footer -->
      </footer>

      <!-- END PAGE CONTENT -->
    </div>
  </div>
</div>
