<div class="container">
    <!--<div class="take-input">
       <input type="text" placeholder="Write any text" />
      <a href="javascript:void(0);">Enter Text</a>
    </div>-->
    <div class="animate one">
        <span>B</span><span>U</span><span>G</span><span>S</span> &nbsp;
        <span>M</span><span>A</span><span>S</span><span>T</span><span>E</span><span>R</span>
        
        <!-- <a class="repeat" href="javascript:void(0);">Repeat Animation</a> -->
      </div>
    
     
    </div>