
<div class="w3-black">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form [formGroup]="signInForm" (ngSubmit)="OnSubmit()">
        <h1 id="emp">Member Log in</h1>
        <div class="inset">
          <p>
            <label for="email">EMAIL ADDRESS</label>
            <input
              type="text"
              class="form-control"
              placeholder="email"
              id="email"
              formControlName="email"
              spellcheck="false"
            />
          </p>
          <p>
            <label for="password">PASSWORD</label>
            <input
              type="password"
              class="form-control"
              placeholder="password"
              id="password"
              formControlName="password"
            />
          </p>
        </div>

        <p class="p-container">
          <a routerLink="/auth/passwordLess">
            <span>Forgot password ?</span>
          </a>
          <input type="submit" name="go" id="go" value="Log in" />
        </p>
      </form>
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</div>
