<!-- <form [formGroup]="passwordLessForm" (ngSubmit)="onSubmit()">
  <div class="input-group">
    <label>
      <input type="text" placeholder="Email Address" id="email"
      formControlName="email"/>
    </label>
    <button class="unit" type="submit" [disabled]="emailSent"><mat-icon aria-hidden="false" aria-label="mail">mail</mat-icon></button>
  </div>
  <div *ngIf="emailSent">
    <p class="text-success">we sent you an email</p>
  </div>
</form>
<p class="text-danger">{{ errorMessage }}</p> -->

<div class="w3-black">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form [formGroup]="passwordLessForm" (ngSubmit)="onSubmit()">
        <h1 id="emp">Forget Password</h1>
        <div class="inset">
          <p>
            <label for="email">EMAIL ADDRESS</label>
            <input
              type="text"
              placeholder="Email Address"
              id="email"
              formControlName="email"
              spellcheck="false"
            />
          </p>
          
        </div>

        <p class="p-container">
          <!-- <a routerLink="/auth/passwordLess">
            <span>Forgot password ?</span>
          </a> -->
          <input type="submit" name="go" id="go" value="Log in" />
        </p>
        <div *ngIf="emailSent">
          <p style="margin-left:10px" class="text-success">we sent you an email</p>
        </div>
      </form>
    </div>
  </div>
</div>
