<div class="row">
  <div class="col-xs-12">
    <h2>Issues</h2>
    <div class="list-group" *ngFor="let issue of issues; let i = index">
      <button class="list-group-item" (click)="onViewIssue(i)">
        <h3 class="list-group-item-heading">
          {{ issue.subject }}
        </h3>

        <p class="list-group-item-text">{{ issue.description }}</p>
      </button>
      <button
        class="btn btn-default pull-right"
        (click)="onDeleteIssue(issue)"
        matTooltip="Delete"
      >
        <span class="glyphicon glyphicon-minus"></span>
      </button>
    </div>
    <button class="btn btn-primary" (click)="onNewIssue()">New Issue</button>
  </div>
</div>
